*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/assets/realsr
/app/build
/app/release/
/app/Android CLI
/app/src/main/jniLibs/arm64-v8a/libMNN.so
/app/src/main/jniLibs/arm64-v8a/libMNN_CL.so
/app/src/main/jniLibs/arm64-v8a/libMNN_Vulkan.so
/app/src/main/jniLibs/arm64-v8a/libc++_shared.so
/app/src/main/jniLibs/arm64-v8a/libmnnsr.so
